body {

	background-image: url("../images/heroes.jpg");
}

.intro {
	font-family: 'Bangers', cursive;
	text-align: center;
	font-size: 130px;
	margin-top: 10px;

}

.main-button-container {
	margin-top: 25px;

}

.questionArea {
	margin: auto;
	max-width: 70%;
	background-color: lightblue;
	height: 500px;
	display: hidden;
	opacity: 0.3;
	font-family: 'Bangers', cursive; ;
}